.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: aquamarine;
}
.list{
    display: flex;
    gap: 60px;
    justify-content: space-between;
    font-size: 25px;
}
a{
    text-decoration: none;
}
.logo{
    padding-right: 150px;
}
h2{
    font-size: 30px;
}